
<div class="custom-card-div">
  <mat-card class="custom-card">
    <mat-card-content>
      <div class="custom-card-content">
        <label>Tipo de Vehiculo: </label>
        <mat-select class="custom-select" style="text-align: left;" [(ngModel)]="selectedVehiculo">
          <mat-option value="carros">Carros</mat-option>
          <mat-option value="motos">Motos</mat-option>
          <mat-option value="caminhoes">Camiones</mat-option>
        </mat-select>
        
        <button mat-icon-button style="margin-left: auto;" [disabled]="!selectedVehiculo" (click)="onSelectionVehiculo(selectedVehiculo)">
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="custom-card-div">
  <mat-card class="custom-card">
    <mat-card-content>
      <div class="custom-card-content">
        <label>Marca: </label>
        <mat-select class="custom-select" style="text-align: left;" [disabled]="!datosMarcas" [(ngModel)]="selectedMarca">
          <mat-option *ngFor="let item of datosMarcas" [value]="item.codigo">{{ item.nome }}</mat-option>
        </mat-select>
        
        <button mat-icon-button style="margin-left: auto;" [disabled]="!selectedMarca" (click)="onSelectionMarca(selectedMarca)">
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="custom-card-div">
  <mat-card class="custom-card">
    <mat-card-content>
      <div class="custom-card-content">
        <label>Modelo: </label>
        <mat-select class="custom-select" style="text-align: left;" [disabled]="!datosModelos" [(ngModel)]="selectedModelo">
          <mat-option *ngFor="let item of datosModelos.modelos" [value]="item.codigo">{{ item.nome }}</mat-option>
        </mat-select>

        <button mat-icon-button style="margin-left: auto;" [disabled]="!selectedModelo" (click)="onSelectionModelo(selectedModelo)">
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="custom-card-div">
  <mat-card class="custom-card">
    <mat-card-content>
      <div class="custom-card-content">
        <label>Año: </label>
        <mat-select class="custom-select" style="text-align: left; " [disabled]="!datosYear" [(ngModel)]="selectedYear">
          <mat-option *ngFor="let item of datosYear" [value]="item.codigo">{{ item.nome }}</mat-option>
        </mat-select>
        
        <button mat-icon-button style="margin-left: auto;" [disabled]="!selectedYear" (click)="onSelectionYear(selectedYear)">
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="custom-card-div" *ngIf="datosAll">
  <mat-card class="custom-card">
    <mat-card-content>
      <label>Marca: {{datosAll.Marca}}</label> <br/>
      <label>Modelo: {{datosAll.Modelo}}</label> <br/>
      <label>Año: {{datosAll.AnoModelo}}</label> <br/>
      <label>Combustible: {{datosAll.Combustivel}}</label> <br/>
      <label>Valor: {{datosAll.Valor}}</label> <br/>
      <ng-container *ngIf="datosAll.Combustivel === 'Gasolina' ">
        <label>Impuesto 5%: {{impuesto(datosAll.Valor, datosAll.Combustivel)}}</label> <br/>
      </ng-container>
      <ng-container *ngIf="datosAll.Combustivel === 'Diesel'">
        <label>Impuesto 2.5%: {{impuesto(datosAll.Valor, datosAll.Combustivel)}}</label> <br/>
      </ng-container>
      <button [disabled]="!datosAll.Valor" (click)="onCambio(datosAll.Valor)">
        Cambio a pesos Colombiano
      </button>
    </mat-card-content>
  </mat-card>
</div>

<div class="custom-card-div">
  <button mat-raised-button color="primary" (click)="onReload()">Borrar Contenido</button>
</div>